/EjemploCiclosRepetitivos/ejemplo-ciclo-while-vendedor/build/
/EjemploCiclosRepetitivos/ejemplo-ciclo-while-vendedor/nbproject/private/
/EjemploCondicionales/EjemploPOOCondicionales/build/
/EjemploCondicionales/EjemploPOOCondicionales/nbproject/private/
